{% extends 'base.html.twig' %}

{% block body %}
    {# ************** SECTION CONTAINER HEADER IMG **************#}
    {# <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <h1 class="header center">Merci pour votre achat nom produit dynamique</h1>
                <div class="row center">
                    <h5 class="header col s12 light">prix dynamique ?</h5>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img style="width:100%" src="" alt="Titre de la campagne">
        </div>
    </div> #}

    {# ************** SECTION FORM STRIPE **************#}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h4>Procéder au paiement</h4>
                </div>
            </div>
            <!--   Form Section   -->
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <h5 class="center">Veuillez remplir tous les champs</h5>
                        <form method="POST" action="">
                            <div class="input-field col s12 l6">
                                <label for="name">Entrez le nom présent sur la carte: </label>
                                <input type="text" name="name" id="name" required>
                            </div>
                            <div class="input-field col s12 l6">
                                <label for="prix"> {{ (order.IdProduct.promoPrice / 100) ~ 0 }} €</label>
                                <input type="text" name="prix" id="price" disabled="disabled" value='{{ (order.IdProduct.promoPrice / 100) ~ 0 }}'>
                            </div>
                            <div class="clearfix"></div>
                            <h5 class="center">Payez en toute sécurité avec Paypal</h5>
                            {# <img style="width:13rem" src="{{ asset('assets/images/paiement-securise-stripe.jpeg') }}"> #}
                            <div class="input-field col s12">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" required>
                            </div>
                            {# INPUT CACHE PRIX #}
                            {# <input type="text"> #}
                            
<div class="input-field col s12">
                        {# CARD PAYPAL #}
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <!-- Add the checkout buttons, set up the order and approve the order -->
                                   
                                    <a href="{{ path('paypal',{'id': order.id}) }}?click"><div id="paypal-button-container" style="padding: 0.75rem; margin-left: 25vw;margin-right: 25vw;"></div>

                                    <div id="button"></div></a>

                                </div>
                            </div>
                        </div>
                    </div>
                                <a href="{{ path ('landing_page') }}" class="btn btn-large waves-effect waves-light grey col s12">Annuler</a>
                            {# <div class="input-field col s12 l6">
                                <button class="btn btn-large waves-effect waves-light pink lighten-1 col s12" type="submit" name="action">
                                    Payer
                                    <i class="material-icons right">euro_symbol</i>
                                </button>
                            </div> #}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}
 

{% block javascripts %}
<script src="https://www.paypal.com/sdk/js?client-id=AZEu8n9aTY7Ma_zHnkZJ_6ukRXPYvuc4nYtJexPzlamsLR2Bun3e3j8OP8Jyp0QJAFxMiOD3SMxIzflq&currency=EUR" data-sdk-integration-source="button-factory"></script>


    <script>
        paypal.Buttons({

            createOrder: function(data, actions) {
                let amount = document.querySelector('#price').value 
                console.log(amount);
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: amount
                        }
                    }]
                });
            },
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    alert('Transaction completed by ' + details.payer.name.given_name)
                    document.querySelector('#payment-form').submit()
                });
            }
        }).render('#paypal-button-container'); // Display payment options on your web page
    </script>


    <script>

        const baseRequest = {
            apiVersion: 2,
            apiVersionMinor: 0
        };

        const tokenizationSpecification = {
            type: 'PAYMENT_GATEWAY',
            parameters: {
                'gateway': 'example',
                'gatewayMerchantId': 'exampleGatewayMerchantId'
            }
        };

        const allowedCardNetworks = ["AMEX", "DISCOVER", "INTERAC", "JCB", "MASTERCARD", "VISA"];

        const allowedCardAuthMethods = ["PAN_ONLY", "CRYPTOGRAM_3DS"];

        const baseCardPaymentMethod = {
            type: 'CARD',
            parameters: {
                allowedAuthMethods: allowedCardAuthMethods,
                allowedCardNetworks: allowedCardNetworks
            }
        };

        const cardPaymentMethod = Object.assign(
            {tokenizationSpecification: tokenizationSpecification},
            baseCardPaymentMethod
        );


    </script>

{% endblock %}